<div class="container d-flex flex-column align-items-center justify-content-center py-5 contactBody">
    <h4 class="mb-5">{{ "CONTACT.TITLE" | translate}}</h4>
    <div class="text-start mb-5">
      <p>{{ "CONTACT.PHONE" | translate}}: +39 3351737357</p>
      <p>Email: <a href="mailto:walter90@hotmail.it">walter90@hotmail.it</a></p>
      <p>{{ "CONTACT.PEC" | translate}}:</p>
      <p>{{ "CONTACT.IVA" | translate}}:</p>
    </div>
    <h4>{{ "CONTACT.FOLLOW" | translate}}:</h4>
    <div>
      <a href="https://www.linkedin.com/in/walter-barbieri-550a24115/" target="_blank" rel="noopener noreferrer" class="me-4"><img src="../../../assets/Immagini/linkedInLogo.png" alt="LinkedIn Logo" class="icon"></a>
      <a href="https://github.com/WalterBarbieri" target="_blank" rel="noopener noreferrer"><img src="../../../assets/Immagini/githubLogo.png" alt="GitHub Logo" class="icon"></a>
    </div>
</div>
