<div class="container py-3">
  <h4 class="text-center">{{ "PORTFOLIO.TITLE" | translate}}</h4>
  <div class="row">
    <div class="col-12 col-xl-6">
      <div class="card">
        <div class="card-img-top">
          <img src="../../../assets/projects/Screenshot 2024-07-24 200724.png" alt="PepeFactoryEcommerce Screenshot" class="w-100 projectImg">
        </div>
        <div class="card-footer">
          <p>E-Commerce Pepe Factory</p>
          <p><img src="../../../assets/Icons/link-45deg.svg" alt="Link Icond"> {{ "PORTFOLIO.TOSITE" | translate}}</p>
          <a href="https://github.com/WalterBarbieri/Corso_Epicode_Capstone_Project" target="_blank" rel="noopener noreferrer"><img src="../../../assets/Icons/link-45deg.svg" alt="Link Icond"> {{ "PORTFOLIO.GIT" | translate}} <img src="../../../assets/Immagini/githubLogo.png" alt="GitHub Logo" class="icon"></a>
          <p>{{ "PORTFOLIO.DESCRIPTION" | translate}}: <span class="smallFont">{{ "PORTFOLIO.CONTENT" | translate}}</span></p>
          <span class="smallFont"></span>
        </div>
      </div>
    </div>
  </div>
</div>
