<div class="container footer mb-3 mb-md-0">
  <div class="row h-100 d-flex justify-content-center align-items-center">
    <div class="col-12 col-sm-6 col-md-3 mb-2"> &#64; {{this.currentYear}} Walter Barbieri</div>
    <div class="col-12 col-sm-6 col-md-3 mb-2">{{ "CONTACT.IVA" | translate }}: #############</div>
    <div class="col-12 col-sm-6 col-md-3 mb-2"><a [routerLink]="['/contact']">{{ "CONTATTI" | translate }}</a></div>
    <div class="col-12 col-sm-6 col-md-3 pb-3 p-sm-0"><span class="pe-3">{{ "FOOTER.DESIGN" | translate }}</span><img class="smallIcon" src="../../../assets/Immagini/angularLogo.png" alt="Logo Angular"></div>
  </div>
</div>
