<div class="container">
  <div class="row">
    <div class="col-6 d-flex justify-content-center align-items-center">
      <img
      src="../../../assets/Immagini/FotoProfilo_preview_rev_1.png"
      alt="Profile Picture"
      class="h-50"
    />
    </div>
    <div class="col-6 d-flex flex-column justify-content-center align-items-center">
      <h5>Hello!</h5>
      <h4>I Am Walter Barbieri</h4>
      <p>I'm a fullstack web developer</p>
      <h5>My Favourite Technologies:</h5>
      <div>
        <img class="icon" src="../../../assets/Immagini/angularLogo.png" alt="Logo Angular">
        <img class="icon2" src="../../../assets/Immagini/springbootLogo.png" alt="Logo Springboot">
      </div>
    </div>
  </div>
</div>
