<div class="d-flex align-items-center homeBody py-5">
  <div class="row flex-column-reverse flex-sm-row w-100 homeBodyInner">
    <div
      class="col-12 col-sm-5 d-flex justify-content-center justify-content-sm-end align-items-center"
    >
      <div class="img-container">
        <img
          src="../../../assets/Immagini/3.png"
          alt="Profile Picture"
          class="homeImg"
        />
      </div>
    </div>
    <div
      class="col-12 col-sm-7 d-flex flex-column justify-content-center align-items-center align-items-sm-start text-center text-sm-start"
    >
      <h3>{{ "HOME.CIAO" | translate }}!</h3>
      <h3 class="mb-5">{{ "HOME.PRESENTAZIONE" | translate }}</h3>
      <h4 class="mb-5">
        <a [routerLink]="['/portfolio']">{{
          "ABOUT.SERVICES.MY_PROJECTS" | translate
        }}</a>
      </h4>

      <h4>
        <a [routerLink]="['/about-me']">{{ "HOME.FIND" | translate }}</a>
      </h4>
    </div>

  </div>
</div>
