.homeBody {
  min-height: 75vh;
}

.img-container {
  width: 70%;
}

.homeImg {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.homeBodyInner {
  position: relative;
  overflow: hidden;
}

.homeBodyInner::before {
  content: '';
  position: absolute;
  top: 0;
  left: 25%;
  width: 50%;
  height: 100%;
  background-color: #384247;
  z-index: -1;
}

@media screen and (min-width: 400px) {
  .img-container {
    width: 60%;
  }
}
@media screen and (min-width: 500px) {
  .img-container {
    width: 50%;
  }
}

@media screen and (min-width: 576px) {
  .img-container {
    width: 100%;
  }
  .homeBodyInner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 68%;
    height: 100%;
    background-color: #384247;
    z-index: -1;
  }
}
@media screen and (min-width: 768px) {
  .img-container {
    width: 70%;
  }

  .homeBodyInner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 63%;
    height: 100%;
    background-color: #384247;
    z-index: -1;
  }
}
@media screen and (min-width: 992px) {
  .img-container {
    width: 60%;
  }
  .homeBodyInner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 59%;
    height: 100%;
    background-color: #384247;
    z-index: -1;
  }
}
@media screen and (min-width: 1200px) {
  .img-container {
    width: 50%;
  }
  .homeBodyInner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 57%;
    height: 100%;
    background-color: #384247;
    z-index: -1;
  }
}

@media screen and (min-width: 1400px) {

  .homeBodyInner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 54%;
    height: 100%;
    background-color: #384247;
    z-index: -1;
  }
}

@media screen and (min-width: 1600px) {

  .homeBodyInner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 53%;
    height: 100%;
    background-color: #384247;
    z-index: -1;
  }
}
@media screen and (min-width: 1700px) {

  .homeBodyInner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 52%;
    height: 100%;
    background-color: #384247;
    z-index: -1;
  }
}
