@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
  background-color: #212B31;
  color: whitesmoke;
  font-family: "Source Code Pro", monospace;
}
a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.2em;
    text-underline-offset: 0.3em;

}
}

.mySelect {
  background-color: #212B31;
  border: none ;
  color: whitesmoke;
  width: auto;
}

option {
  background-color: #212B31;

}

.icon {
  width: 3em;
}
.icon2 {
  width: 4em;
}
.smallIcon {
  width: 1.5em;
}

