@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
  background-color: #212B31;
  color: whitesmoke;
  font-family: "Source Code Pro", monospace;
}

.icon {
  height: 3em;
  width: 3em;
}
.icon2 {
  height: 3em;
  width: 4em;
}

